@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --clr-bg: hsl(0, 0%, 8%);
  --clr-card-bg: hsl(0, 0%, 12%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-accent: hsl(75, 94%, 57%);
  --clr-icon-bg: hsl(0, 0%, 20%);
  --attribution-color: hsl(228, 45%, 44%);
  --country-info-color: hsl(75, 94%, 57%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.profile {
  text-align: center;
  margin: 50px auto;
  padding: 40px;
  gap: 10px;
  border-radius: 15px;
  display: flex;
  max-width: 410px;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-card-bg);
}

.profile h1 {
  font-size: 25px;
  font-weight: 600;
}

.country-info {
  font-size: 14px;
  font-weight: 600;
  color: var(--country-info-color);
}

.profile img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 10px;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-icon-bg);
  color: var(--clr-text);
  width: 320px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.social-icon a {
  text-decoration: none;
  color: var(--clr-text);
  font-size: 14px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--attribution-color);
}

@media (max-width: 25em) {
  .profile {
    width: 90%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .social-icon:hover {
    transition: none;
  }
}
